.selected {
  background-color: dodgerblue;
  color: gold;
}

.correct {
  background-color: forestgreen;
  color: white;
}

.incorrect {
  background-color: red;
  color: black;
}

.playerCorrect {
  background-color: limegreen;
  color: white;
  border: 2px dashed black;
}
